nav{
    justify-content:end;
    background-color: #1b2625;
    border-bottom: 1px solid #1b2625;    
}

nav a{
    font-family: Rubik !important;
    font-weight: 700;
    font-size: 20px;
    color: #dad0ce;
}


