<div id="section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="container vertical-center mt-5" id="welcomeContainer">
                    <div class="row">
                        <div class="col mt-3">
                            <h1>Recipe Book</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <p>Homemade with Love: Comforting Recipes For Friends and Family!</p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                            <button routerLink="/recipes" class="btn btnType-A">Look for recipes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>