     <div class="container-fluid pt-5" id="welcomeContainer">
        <app-header></app-header>
                    <div class="row">
                        <div class="col">
                            <h1>Recipe Book</h1>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                             <hr class="hr-text" data-content="Homemade with Love">
                            <p>Comforting Recipes For Friends and Family</p>
                        </div>
                    </div>
                    </div>



                    <div class="row">
                        <div class="col">
                            <a (click)="lookForRecipes()" class="btn btnType-A">Look for recipes</a>
                        </div>
                    </div>         
    </div>

