
#save, #cancel{
    font-size: 25px
}


p{
    font-weight: 700;
    font-size: 30px;
    color: #1b2625;
}
label{
    font-weight: 600;
    font-size: 18px;
    color: #0081A7;
}

#cancelButton, #addIngredientButton{
    background-color: #748991;
    color: white;
}
#cancelButton:hover, #addIngredientButton:hover{
    background-color: #0081A7;
    transition: background-color 0.6s ease;
}

#cross{
    color: white;
}

.underline {
    border-bottom: 2px solid currentColor;
    display: inline-block;
    line-height: 0.85;
    color: #0081A7;
    /* text-shadow:
      2px -2px #0081A7,
      -2px 2px #0081A7,
      -2px -2px #0081A7; */
  }

  #recipeEditBox{
    padding: 20px;
  }

