
#save, #cancel{
    font-size: 20px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 7px !important;
    padding-bottom: 7px !important;


}

#cancelButton{
    font-size: 20px;
}

p{
    font-weight: 700;
    font-size: 30px;
    color: black;
}
label{
    font-weight: 600;
    font-size: 18px;
    color: black;
}



.underline {
    color: black;
    font-weight: bolder;
  }

#recipeEditBox{
    padding: 20px;
  }

#addIngredientButton{
    font-size: medium;
    padding: 10px;


}

input, textarea{
    background-color: whitesmoke;
}