img{
    max-width: 60%;
    height: auto;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);

}



#save, #cancel{
    font-size: 20px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 7px !important;
    padding-bottom: 7px !important;



}
#save:disabled{
    background-color: #A3B18A;
    transition: background-color 0.6s ease-in-out;

}

#cancelButton{
    font-size: 20px;
}

p{
    font-weight: 700;
    font-size: 30px;
    color: black;
}
label{
    font-weight: 600;
    font-size: 18px;
    color: black;
}



.underline {
    color: black;
    font-weight: bolder;
  }

#recipeEditBox{
    padding: 20px;
  }

#addIngredientButton{
    font-size: medium;
    padding: 10px;


}

input, textarea{
    background-color: whitesmoke;
}

input.ng-invalid.ng-touched,
textarea.bg-invalid.ng-touched{
    border: 1px solid red;
}