img{
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);

}

.main{
    padding-left: 20px;
    padding-right: 20px;
}

button{
    margin-bottom: 30px;
    transition: background-color 0.6s ease;
    font-size: 18px;

}

label{
    font-size: 20px;
    color: black;
    margin-bottom: 5px;
    font-weight: bolder;
}

#recipeName{
    font-family: 'BerkshireSwash-Regular';
    font-weight: bold;
}

p{
    font-weight: 700;
    font-size: large;
}

ul{
    transition: all 0.6s ease;
}