<div class="container-fluid pt-5" id="welcomeContainer">
    <div class="row pt-5">
        <div class="col">
            <h1>Already Know what to cook?</h1>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="row">
            <p>Add the needed ingredients to the shopping list</p>
        </div>
    </div>
    </div>



    <div class="row">
        <div class="col">
            <a (click)="toShoppingList()" class="btn btnType-A">Shopping List <img src="../../assets/images/arrowDown.png" alt="arrowDown" class="img-responsive" width="30px"></a>
        </div>
        <div class="col">
            <a [routerLink]='[{ outlets: { recipeRoutes: "new" } }]' (click)="toRecipePage()" class="btn btnType-A">Add Recipe <img src="../../assets/images/arrowUp.png" alt="arrowDown" class="img-responsive" width="30px"></a>
        </div>
    </div>         
</div>

