  <div id="recipeContainer" class="row mt-3">
    <div class="col-md-5 ">
      <div  class="detailContainer">
        <div class="scroll" #scroll1>
          <app-recipe-list></app-recipe-list>
          </div>
        </div>
    </div>
    <div class="col-md-6 mt-3 mt-md-0">
      <div  class="detailContainer2 pt-3 pb-3 pl-2 pr-2">
      <div class="scroll">
          <router-outlet name="recipeRoutes"></router-outlet>
        </div>
      </div>
      </div>
      <div  id="navigationDiv" class="col-md-1 mt-3 mt-md-0 d-none d-md-block">

        <div class="row">
          <div class="col">
            <button (click)="toWelcomePage()" class="btnType-A"> <img src="../../assets/images/arrowUp.png" alt="arrowUp" class="img-responsive" width="30px" ></button>

          </div>
        </div>
        <div id="arrowDownDiv" class="row">
          <div class="col">
            <button (click)="toShoppingListPage()" class="btnType-A"> <img src="../../assets/images/arrowDown.png" alt="arrowDown" class="img-responsive" width="30px"></button>
  
          </div>
        </div>
      </div>
  </div>


