.scroll{
    max-height: 90vh;
    overflow-x: hidden;
}

.detailContainer{
    max-height: inherit !important;


}


.detailContainer2{
    background-image: url('../../assets/images/Background6.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: inherit !important;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);



}

#navigationDiv button{
    font-size: 20px;
}

#arrowDownDiv{
    margin-top:86vh;

}
