  <div id="scrollContainer" class="scroll">
      <div class="row">
        <div id="welcomePage" class="col" #welcomePage>
          <app-welcome-page></app-welcome-page>
        </div>
        </div>
    
          <div class="row">
            <div  id="recipes" class="col" #recipes>
              <app-recipes></app-recipes>
            </div>
          </div>
          <div id="toShoppingList" #toShoppingListPage>
            <app-shopping-list-intro></app-shopping-list-intro>
          </div>
  
          <div class="row">
            <div  id="shoppingList" class="col" #shoppingList>
              <div id="shoppingListContainer" class="mt-5">
                <app-shopping-list></app-shopping-list>
              </div>
            </div>
          </div>
    </div>
  


