
#scrollContainer{
    background: linear-gradient(rgba(4, 4, 4, 0.6), rgba(8, 8, 8, 0.393)), url(../../assets/images/picture1.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width:100%;


}
   


.scroll{
    max-height: 100vh;
    overflow-x:hidden;
 
}

#welcomePage{
    background-color: transparent;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 10;
}


#recipes{
    /* background-color: transparent;
    backdrop-filter: blur(20px); */
    background-color: white;
    padding-bottom: 20px;
    min-height: 100vh;
    height: fit-content;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.785); */
    box-shadow: inset 0 0 10px black;

}

#toShoppingList{
    background-color: transparent;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 10;
}

#shoppingList{
    background-color:#344E41;
    height: 100vh;
}

#shoppingListContainer{
    background-image: url('../../assets/images/Background6.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 95%;
    height: 90%; 
    margin: 0 auto;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
    padding: 20px;

}