a{
    background-color: #b87730;
    border-radius: 4px;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;


}

a:focus{
    background-color:#1B2625 !important;
}

a:hover{
    background-color: #843619;
}

a:focus h4{
    color: white !important;

}
a::after{
    background-color:#1B2625 !important;

}

h4{
    color: #1B2625 !important;
    font-weight:700 !important;
    font-family: Rubik;

}
p{
    color: white;
    font-family: sans-serif;
}

