a{
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width: 95%;
    border: 2px solid #1B2625;
}
a:focus{
    background-color:#DAD7CD;
    border: 2px solid white;
    transition: background-color 1s ease !important;
    transition: border 0.9s ease !important;


}
a:focus h4{
    color: #1B2625 !important;

}

a:hover{
    border: 2px solid white;
    transition: border 0.9s ease !important;
    transition: background-color 0.5s ease !important;
}

h4{
font-size: large;
}
p{
    font-size:medium;
}

