html,body{
  overflow-x: hidden !important;
  width: 100vw !important;
}
  

  body{
    font-family: 'Raleway';
    

  }

  ::-webkit-scrollbar {
    display: none;
  }
  
  @font-face {
    font-family: 'BerkshireSwash-Regular';
    src: url('../src/assets/BerkshireSwash-Regular.ttf');
  }


  @font-face {
    font-family: 'Raleway';
    src: url('../src/assets/Raleway-VariableFont_wght.ttf');
  }

  .btnType-A{
    font-family: 'Raleway';
    background-color: #344E41;
    font-size: 48px;
    border: 1px solid #344E41;
    color: white;

  }
  .btnType-A:hover{
    color: white;
    background-color: #3A5A40;
    border: 1px solid white;
    transition: background-color 0.9s ease;
    transition: border-color 0.6s ease;

   }

   .btnType-X{
    font-family: 'Raleway';
    background-color: #344E41;
    font-size: 48px;
    color: white;

  }
  .btnType-X:hover{
    color: white;
    background-color: #3A5A40;
    transition: background-color 0.9s ease;

   }
   .btnType-B{
    color: black !important;
    background-color: #DAD7CD;
    font-size: 48px;
    font-weight: bold;
    border: 1px solid #DAD7CD;


  }
  .btnType-B:hover{
    color: black !important;
    background-color: #A3B18A;
    transition: background-color 0.9s ease;
   }