body{
    font-family: 'Circular Book';
  }

  @font-face {
    font-family: 'Corda-Medium';
    src: url('../src/assets/Corda-Medium.otf');
  }

  @font-face {
    font-family: 'Circular Book';
    src: url('../src/assets/AvenirLTStd-Medium.otf');
  }

  .btnType-A{
    background-color: #F07167;
    font-size: 48px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #F07167;


  }

  .btnType-A:hover{
    background-color: #f07067e0;
    border-radius: 10px;
    transition: border-radius 0.6 all;

   }

   .btnType-B{
    background-color: #00AFB9;
    font-size: 48px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #00AFB9;


  }

  .btnType-B:hover{
    background-color: #00AFB9;
   }